.eventos-content {
  margin: 20px 0px 40px 0px;

  p {
    font-size: 1.5em !important;
  }
}

.eventos .evento {
  margin: 5px;
  padding: 5px;
  background-color: #ebebf8;
  border-radius: 5px;
  border: 1px solid #cbcbc8;
  position: relative;
}

.eventos .futuro {
  border: 2px solid #1893f8;
}

.eventos .img-futuro {
  position: absolute;
  top: 0;
  right: 0;
}

.palestrante {
  margin-bottom: 10px;

  .palestrante-nome {
    font-size: 1.2em !important;
    font-weight: bold !important;
  }

  .palestrante-desc {
    font-variant: small-caps;
  }

  .palestrante-titulo {
    font-size: 1.1em;
  }
  .palestrante-resumo {
    font-size: 0.8em;
  }
}
