{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="equipe">
  <div class="container">

    {{ range $role := .Params.roles }}
    <div class="row">
      <h1>{{ $role }}</h1>

      {{ range $membro := $.Data.Pages }}
      {{ if eq $role $membro.Params.role }}
      <div class="col-md-3 col-sm-4 col-xs-6">
        <a href="{{ $membro.RelPermalink }}">
          <div class="equipe-card">
            <div class="text-center">
              <img class="img-circle" src="{{ $membro.Params.image | relURL }}">
            </div>
            <div class="text-center">
              <span>{{ $membro.Params.nome }}</span>
            </div>
          </div>
        </a>
      </div>
      {{ end }}
      {{ end }}

    </div>
    {{ end }}
  </div>
</section>



{{ end }}