{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<section class="equipe-single-page section-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        {{ with .Params.image }}
        <img class="img-responsive w-100" src="{{ . | relURL }}" alt="">
        {{ end }}
      </div>
      <div class="col-md-8">
        <div class="equipe-details">
          <h4>{{ .Params.nome }}</h4>
          <div class="equipe-content mt-50">
            {{ .Content }}
          </div>
          <div class="equipe-social mt-50">
            <ul class="list-inline">
              {{ if .Params.github }}
                 <a href="https://github.com/{{ .Params.github }}" class="fa fa-2x fa-github"></a>
              {{ else }}
                 <i class="fa fa-2x fa-github fa-gray"></i>
              {{ end }}
              {{ if .Params.linkedin }}
                 <a href="https://linkedin.com/in/{{ .Params.linkedin }}" class="fa fa-2x fa-linkedin"></a>
              {{ else }}
                 <i class="fa fa-2x fa-linkedin fa-gray"></i>
              {{ end }}
              {{ if .Params.twitter }}
                 <a href="https://twitter.com/{{ .Params.twitter }}" class="fa fa-2x fa-twitter"></a>
              {{ else }}
                 <i class="fa fa-2x fa-twitter fa-gray"></i>
              {{ end }}
           </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}